.template-container {
  color: #003e6a;
  background: #fbf9fa;
  padding: 14px;
  direction: rtl;
  .second-title {
    display: fixed;
    justify-content: center;
    text-align: center;
    font-size: small;
    font-weight: bold;

    padding-top: 10%;
    padding-bottom: 3%;
  }
  .first-title {
    justify-content: center;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding-top: 2px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
  }
  .template-header {
    color: #003e6a;
    font-size: 15px;
    margin-top: 13px;
    margin-bottom: 15px;
    margin-right: 15px;
    font-weight: bold;
  }
  .templates {
    color: #003e6a;
    display: flex;
    flex-wrap: wrap;

    .template-img {
      width: 160px;
      margin: 5px;
    }
  }
}
