.template-container {
    color: #003E6A;
    background: #FBF9FA;
    padding: 14px;
    direction: rtl;
    h5 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    .template-header {
        color: #003E6A;
        font-size: 15px;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .templates {
        color: #003E6A;
        display: flex;
        flex-wrap: wrap;
    
        .template-img {
            width: 160px;
            margin: 5px;
        }
    }
}