
.storyCheck-container {
    color: #003E6A;
    background-color:#FBF9FA ;
    direction: rtl;
    padding: 14px;
    h5 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    .categories {
        color: #003E6A;
        //margin-bottom: 15px;
        padding-bottom: 15px;
        font-weight: bold;

        .category-header {
            
           font-size: 18px;
           //margin-bottom: 15px;
           padding-bottom: 10px;

        }
        .category {
            color: #003E6A;
            margin-left: 15px;
            padding: 9px 6px;
            background-color: #FBF9FA;
            border: 1px solid #003E6A;
            border-radius: 5px;
    
        }
    }
    .chosen-category {
        font-weight: bold;
        padding-bottom: 10px;
    }
    .stories {
        display: flex;
        flex-wrap: wrap;
        
        .story-img {
            margin: 0px 0 20px 12px;
            width: 160px;
            height: 164px;
            display: flex;
            border-radius: 12px;
            // background-size: cover;
            .title {
                
                color: #666666;
                align-self: flex-end;
                width: 100%;
                height: 50px;
                direction: rtl;
                background: aliceblue;
                opacity: 0.6;
                padding: 3px 6px;
                border-bottom-left-radius:12px ;
                border-bottom-right-radius:12px ;
            }
        }
    }
}