.template-edit-container {
    .template-edit-title {
        padding: 14px;
        margin-top: 20px;
        direction: rtl;
        text-align: center;
        color: #003E6A;
        font-weight: bold;
        font-size: 18px;

    }
    .image-container {

        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }

    .drawer-container {
        background-color: #DCE2EA;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-radius: 20% 20% 0 0;
        height: 220px;
        align-items: center;

        .drawer-content {
            .drawer-content-header {

            }
            
            .edit-options {
                display: flex;
                justify-content: space-around;
                margin-top: 20px;
                margin-bottom: 20px;
                .edit-option {
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 25px;
                    height: 25px;
                }
            }
            .save-buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                background: #003E6A;
                margin-left: 10px;
                margin-right: 10px;
                border-radius: 5px;
                >div {
                    padding: 15px;
                    margin-bottom: 5px;
                    color: white;
                    
                    font-weight: bold;
                    font-size: 20px;
                }
            }
            .share-buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 2px solid #003E6A;
                border-radius: 5px ;
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 15px;
                >div {
                    padding: 15px;
                    margin-bottom: 5px;
                    color: #003E6A;
                    font-weight: bold;
                    font-size: 20px;
                }
            }


            .drawer-options {
                display: flex;
                flex-wrap: wrap;
            }
        }

    }
}