.testimony-container {
    color: #003E6A;
    direction: rtl;
    background: #FBF9FA;
    ;

    .testimony-content {
        //color: #003E6A;
        //font-size: 30px;
        padding: 14px;
        h5 {
            text-align: center;
        }
        h3 {
            text-align: center;
        }
        .content-title{
            color: #003E6A;
            font-weight: bold;
            font-size: 18px;
            padding: 7px;
        }

        .content-body{
            font-size: 18px;
            color: #292929;
        }
    }

    .choose-text {
        position: fixed;
        bottom: 57px;
        background: #F3DFC0;
        width: 100%;
        padding: 10px;
        //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        mix-blend-mode: normal;
        box-shadow: 0px -4px 8px #C4C4C4;
        border-radius: 20px 20px 20px 0px;
        //transform: matrix(-1, 0, 0, 1, 0, 0);
        .choose-text-title {
            background: #F3DFC0;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        .texts-container {   
            .optional-texts-container {
                //color: #003E6A;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 90%;
                // margin: 0px auto;
                margin-right: 10px;
                .optional-text {
                    text-align: right;
                    background: #F3DFC0;
                    //box-shadow: 2px 2px 10px #C4C4C4;
                    border-radius: 5px;
                    border: 1px solid black;
                    margin-bottom: 10px;
                    padding: 10px;
                    &.free-choice{
                        background: #292929;
                        color: #F3DFC0;
                        //font-family: 'Assistant';
                        font-style: normal;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 10px;
                        /* or 50% */
                        
                        text-align: center;
                        letter-spacing: 0.05em;
                    }
                }
            }
            .choose-text-title {
                text-align: center;
                margin-bottom: 20px;
               
                .close-icon {
                    position: absolute;
                    right: 36px;
                }
            }
        }
    }

}