.testimony-container {
    direction: rtl;

    .testimony-content {
        padding: 14px;
        h5 {
            text-align: center;
        }
        h3 {
            text-align: center;
        }
    }

    .choose-text {
        position: fixed;
        // bottom: 0;
        bottom: 57px;
        background-color: #ECF0F3;
        width: 100%;
        padding: 10px;
        .choose-text-title {
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        .texts-container {
            .optional-texts-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 90%;
                // margin: 0px auto;
                margin-right: 10px;
                .optional-text {
                    text-align: right;
                    background-color: white;
                    box-shadow: 2px 2px 10px #C4C4C4;
                    border-radius: 5px;
                    border: none;
                    margin-bottom: 10px;
                    padding: 10px;
                }
            }
            .choose-text-title {
                text-align: center;
                margin-bottom: 20px;
                .close-icon {
                    position: absolute;
                    right: 36px;
                }
            }
        }
    }

}